go 1.22.0

use (
  .
  ./routes/authRoutes
  ./routes/userRoutes
  ./controllers/authControllers
  ./controllers/userControllers
  ./models/user
  ./models/dmChat
  ./models/groupChat
  ./services/appServices
  ./services/authServices
  ./services/userServices
  ./utils/helpers
  ./utils/mytypes
)